<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">

	<select id="getList" resultType="hello.spring.bit.dto.BoardDTO"
		parameterType="hashmap">
	 <![CDATA[
		select * 
		from 
		(select rownum rnum,BOARD_NUM,BOARD_NAME,BOARD_SUBJECT,BOARD_CONTENT,BOARD_FILE,BOARD_RE_REF,BOARD_RE_LEV,BOARD_RE_SEQ,BOARD_READCOUNT,BOARD_DATE 
		from 
		(select * from board order by BOARD_RE_REF desc,BOARD_RE_SEQ asc)
		) 
		where rnum>=#{startrow} and rnum<=#{endrow}
		 ]]>
	</select>

	<select id="getCount" resultType="java.lang.Integer">
		select count(*) from board
	</select>

	<select id="getMaxCount" resultType="java.lang.Integer">
		select max(board_num) from
		board
	</select>

	<insert id="insertBoard" parameterType="hashmap">
	<![CDATA[
	insert into board (BOARD_NUM,BOARD_NAME,BOARD_PASS,BOARD_SUBJECT,
			BOARD_CONTENT, BOARD_FILE, BOARD_RE_REF,
			BOARD_RE_LEV,BOARD_RE_SEQ,BOARD_READCOUNT,
			BOARD_DATE) values(#{num},#{BOARD_NAME},#{BOARD_PASS},#{BOARD_SUBJECT},#{BOARD_CONTENT},#{BOARD_FILE},#{BOARD_RE_REF},#{BOARD_RE_LEV},#{BOARD_RE_SEQ},#{BOARD_READCOUNT},sysdate)
	 ]]>
	</insert>

	<update id="updateCount">
	 <![CDATA[ update board set BOARD_READCOUNT = BOARD_READCOUNT+1 where BOARD_NUM = #{num} ]]>
	</update>

	<select id="selectDetail"
		resultType="hello.spring.bit.dto.BoardDTO">  <![CDATA[ select * from board where BOARD_NUM = #{num} ]]>
	</select>

	<update id="updateReply"> update board set BOARD_RE_SEQ=BOARD_RE_SEQ+1 where
		BOARD_RE_REF=#{re_ref}
		and BOARD_RE_SEQ>#{re_seq}
	</update>

	<insert id="insertReply" parameterType="hashmap">
	<![CDATA[
	insert into board (BOARD_NUM,BOARD_NAME,BOARD_PASS,BOARD_SUBJECT,
			BOARD_CONTENT, BOARD_FILE, BOARD_RE_REF,
			BOARD_RE_LEV,BOARD_RE_SEQ,BOARD_READCOUNT,
			BOARD_DATE) values(#{num},#{BOARD_NAME},#{BOARD_PASS},#{BOARD_SUBJECT},#{BOARD_CONTENT},#{BOARD_FILE},#{BOARD_RE_REF},#{BOARD_RE_LEV},#{BOARD_RE_SEQ},#{BOARD_READCOUNT},sysdate)
	 ]]>
	</insert>

	<select id="selectWrite"
		resultType="hello.spring.bit.dto.BoardDTO">
	<![CDATA[ select * from board where BOARD_NUM=#{num}  ]]>
	</select>

	<update id="updateBoard">
	<![CDATA[ 
	update board set BOARD_SUBJECT=#{b1},BOARD_CONTENT=#{b2} where BOARD_NUM=#{b3}
	]]>
	</update>

	<delete id="deleteBoard">
	delete from board where BOARD_num=#{num}
	</delete>

</mapper>